<div class="card mb-3 m-auto" style="max-width: 840px; height: 500px">
  <div class="row g-0 m-5">
    <div class="col-md-4">
      <img
        [src]="product.images[0]"
        class="img-fluid rounded-start"
        alt="..."
      />
    </div>
    <div class="col-md-8 mt-5">
      <div class="card-body">
        <h5 class="card-title">{{ product.title }}</h5>
        <p class="card-text">
          {{ product.price | currency }}
        </p>
        <p class="card-text">
          {{ product.description }}
        </p>
        <div>
          <button class="btn btn-primary">add to cart</button>
        </div>

        <div class="card-text d-flex justify-content-between">
          <small class="text-body-secondary">{{
            product.createdAt | date : "short"
          }}</small>
          <small [ngStyle]="{ color: product.stock > 0 ? 'green' : 'red' }">{{
            product.stock | stock
          }}</small>
        </div>
      </div>
    </div>
  </div>
</div>
